* {
	margin: 0;
	padding: 0;
	font-family: "Istok Web", sans-serif;
}
::-webkit-scrollbar{
	display: none;
}
.loading{
    height: 100vh;width: 100%;display: grid;place-content: center;background-color: rgb(255, 255, 255);
  }
.nav{
	font-size: 20px;font-weight: 900;display: flex;align-items: center;justify-content: space-between;background-color: black;
	background-color: #000;
	padding-left: 50px;
font-style: italic;
	height: 50px;text-transform: uppercase;color: gray;
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;position: sticky;top: 0;z-index: 900000000;
}
.nav .title{
	white-space: nowrap;
	font-weight: 900;font-size: 30px;
}


.nav .Link{
	color: white;font-size: 25px;
	margin: 0 30px;display: flex;align-items: center;justify-content: center;text-decoration: none;
}
.Link sup{
	background-color: red;border-radius: 50%;height: 20px;width: 20px;color: white;font-weight: 500; display: flex;align-items: center;justify-content: center;margin-top: -20px;font-size: small;
}
.nav img{
	width: 70%;height: 30px;
}
.container{
	background-color: rebeccapurple;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 20px;
    padding: 40px 20px 20px;
    background-color: #343434
}
.card {
	position: relative;
	height: 480px;
	background: #fff;
	border-radius: 20px;
	overflow: hidden;
}

.card .imgBox {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 20px;
	z-index: 1;
}

.category {
	position: absolute;right: 0;
	font-size: 10px;
	margin-top: 10px;
	padding: 7px 5px ;border-radius: 20px;
	background-color: rgba(128, 128, 128, 0.623);
	color: rgb(0, 0, 0);
	font-weight: 500;
}

.card .imgBox img {
	transform: scale(1);
	transition: .5s;
}

.card:hover .imgBox img {
	transform: scale(.7);

}

.shake {
	animation: shake-animation 0.4s ease-in-out infinite;
  }
  
  @keyframes shake-animation {
	0%,
	100% {
	  transform: translateX(0);
	}
	10%,
	30%,
	50%,
	70%,
	90% {
	  transform: translateX(-5px);
	}
	20%,
	40%,
	60%,
	80% {
	  transform: translateX(5px);
	}
  }

.card .contentBox {
	position: absolute;
	bottom: 0;
	justify-content: center;
	margin: 20px;
	width: 90%;
	align-items: center;
	flex-direction: column;
	z-index: 2;
}

.card .contentBox h5 {
	font-size: 14px;
	color: rgb(0, 0, 0);
}

.card .contentBox .price {
	font-size: 24px;
	padding-top: 10px;
	color: rgb(0, 0, 0);
	font-weight: 700;
	letter-spacing: 1px;
}

.card .contentBox .buy {
	position: absolute;
	height: 40px;
	width: 40px;
	top: 130px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	right: 0;
	text-decoration: none;
	bottom: 0;
	background-color: rgb(255, 255, 255);
	opacity: 0;
	transition: 0.5s;
	font-size:16px;
	display: flex;
	border: none;outline: none;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}

.card:hover .contentBox .buy {
	top: -80px;
	opacity: 1;
}
.card .contentBox  .buy:hover{
	background-color:#343434;
	color: #ffffff;
}
.card .contentBox  .buy3:hover{
	background-color:#343434;
	color: #ffffff;
}
.card .contentBox  .buy2:hover{
	background-color:#343434;
	color: #ffffff;
}

.card .contentBox .buy2 {
	position: absolute;
	height: 40px;
	width: 40px;
	top: 130px;
	right: 50px;
	bottom: 0;
	border: none;outline: none;

	background-color: rgb(255, 255, 255);
	transition: 0.7s;
	opacity: 0;
	font-size:16px;
	display: flex;
	text-decoration: none;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}

.card:hover .contentBox .buy2 {
	top: -80px;
	opacity: 1;
}

.card .contentBox .buy3 {
	position: absolute;
	height: 40px;
	width: 40px;
	font-size:16px;
	top: 130px;
	text-decoration: none;
	right: 100px;
	border: none;outline: none;

	bottom: 0;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	background-color: rgb(255, 255, 255);
	transition: 0.9s;
	opacity: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}

.card:hover .contentBox .buy3 {
	top: -80px;
	opacity: 1;
}


.mouse {
	object-fit: contain;
	height: 300px;
	width: 250px;
}